body {
    font-family: Arial, sans-serif;
    text-align: center;

}

h1 {
    color: #005f99;
}

.button-container {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #007acc;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.button:hover {
    background-color: #005f99;
}