<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/css/estilosEjercicios.css">
<title>Ejercicio 2</title>
</head>
<body>
  <h2>Inicio de sesion</h2>
  <form method="POST">
    <label for="usuario">Usuario:</label>
    <input type="text" id="usuario" name="usuario" required>

    <label for="contraseña">Contraseña:</label>
    <input type="password" id="contraseña" name="contraseña" required>

    <button type="submit">Enviar</button>
  </form>

  {% if mensaje is not none %}
    <p>{{ mensaje }}</p>
  {% endif %}
</body>
</html>